body {
    
    background-color: rgba(128, 128, 128, 0.288);
    
    padding: 10px;
    text-align: center;
    
}

#testetopo {
    border: 1px;
    margin: 20px;
    padding: 10px;
    background-color: rgb(42, 54, 165);
    border-radius: 8px;
    color: white;
    display: inline-block;
}

#form {
    width: 20%; /* Ajusta a largura do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    border: 2px solid #333;
    border-radius: var(--radius-1);
    padding: 20px; /* Adiciona um espaço interno para melhor aparência */
    background-color: #bdbaba;
}


#titulopapel {
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;

}

#papeis{
    border-radius: var(--radius-1);
    width: 100%;

}

#precoAtivoId{
    border-radius: var(--radius-1);
    width: 100%;

}

.nomesenha {
    text-decoration: underline;
    width: 100%;

}

.nomesenhaInput{
    border-radius: var(--radius-1);
    width: 100%;

    
}

#tipoentrada {
    text-decoration: underline;
}


#confirab3 {
    color:black;
}  


#linkB3 {
    color: black;
    word-wrap: break-word;
    white-space: normal; /* Garante que o link possa ser dividido em várias linhas */
}
#linkB3:link {
    color: blue; /* Cor do link não visitado */
}

#linkB3:visited {
    color:black /* Cor do link visitado */
}

#linkB3:hover {
    color: white; /* Cor do link quando o mouse está sobre ele */
}

#motivooperacao{
    width: 100%;
    height: 200px; /* Defina uma altura fixa ou use % também */
}